.sidebar {
  width: 220px;
  height: 100vh;
  background: white;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 60px;
  left: -220px;
  transition: 0.3s;
  z-index: 1000;
  padding: 25px;
}

/* OPEN */
.sidebar.open {
  left: 0;
}

.sidebar p {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.sidebar p:hover {
  background: #f0f0f0;
}

/* DESKTOP */
@media (min-width: 768px) {
  .sidebar {
    left: 0;
  }
}